// general font style
$font-stack: 'Source Sans Pro', sans-serif;
$primary-color: #545149;
$primary-background-color: #f4f1ec;

// font for logo, tweet button & character counter
$font-logo: 'Bungee', sans-serif;

// new tweet arrow & back to top button (at bottom of page)
$arrow-button-color: red;
$arrow-button-hover-color: rgb(230, 54, 54);

// nav bar style colours
$nav-font-color: #FFFFFF;
$nav-background-color: #4056A1;

// validation error box
$error-font-color: #c33;
$error-background-color: #fee;
$neg-counter-color: red;

// tweet button colours
$tweet-button-font-color: #FFFFFF;
$tweet-button-background-color: #4056A1;

// tweet styles
$tweet-box-shadow: 7px 7px rgb(194, 193, 230);
$tweet-handle-color: #cdc3f7;
$tweet-icon-color: rgb(63, 51, 155);
$tweet-icon-hover-color: rgb(176, 139, 91);
