/*
 * Header Element containing user avatar and name
 */
@use 'partial';

header.userHeader {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: partial.$primary-background-color;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}