/*
 * Navigation bar (always at top)
 */
@use 'partial';

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: partial.$nav-font-color;
  background-color: partial.$nav-background-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

nav span {
  font-family: partial.$font-logo;
  font-size: xx-large;
  padding-top: 1.5em;
}

nav div {
  padding-top: 1.5em;
  text-align: center;
  cursor: pointer;
}

#new-tweet-arrow {
  padding-top: 0.5em;
  color: partial.$arrow-button-color;
}
 