/*
 * 'What are you humming about?' form to submit new tweet
 */
@use 'partial';

main.container {
  width: 90%;
  margin: 0 auto;

  .new-tweet form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      padding-bottom: 10px;
    }

    #tweet-text {
      width: 100%;
      height: 45px;
      background-color: inherit;
      outline: none;
      resize: none;
      border-top: none;
      border-right: none;
      border-bottom: 5px solid partial.$primary-color;
      border-left: none;
      font-size: 18px;
      font-weight: bold;
    }

    p#validation-error {
      display: none;
      color: partial.$error-font-color;
      background-color: partial.$error-background-color;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }

    #form-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 20px;

      button {
        font-family: partial.$font-logo;
        color: partial.$tweet-button-font-color;
        background-color: partial.$tweet-button-background-color;
        border: none;
      }

      .counter {
        font-family: partial.$font-logo;
        margin-right: 10px;
      }
      
      .counter.negative {
        color: partial.$neg-counter-color;
      }

    }
  }
}
