/*
 * Desktop Styles
 */
@media only screen and (min-width: 1025px) {
  body {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  header.userHeader {
    width: 30%;
    background-image: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 0;
  }
  main.container {
    width: 60%;
    padding-top: 140px;
  }
}
/*
 * Print Styles, only print the tweets: hide the Nav bar and the header
 */
@media print {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    font-size: x-small;
  }
  nav, header.userHeader, section.new-tweet, main i#bottom-button {
    display: none;
  }
  article.tweet {
    page-break-inside: avoid;
    width: 100%;
  }
}
