/*
 * Tweets section <article class="tweet">
 */
article.tweet {
  border: 5px solid #545149;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  /* user avatar, name, handle */
  /* text content of tweet */
}
article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
article.tweet header p.handle {
  flex-grow: 1;
  text-align: right;
  font-size: 26px;
  font-weight: bold;
  color: #cdc3f7;
}
article.tweet p.tweet-text {
  font-size: 26px;
  width: 97%;
  margin: 0 auto;
  padding-bottom: 50px;
  word-wrap: break-word;
}
article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
  border-top: 5px solid #545149;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 15px;
  /* time since tweet was posted */
  /* icons: flag, retweet, like */
}
article.tweet footer p {
  flex-grow: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}
article.tweet footer i {
  color: rgb(63, 51, 155);
}
article.tweet footer i:hover {
  color: rgb(176, 139, 91);
}

article.tweet:hover {
  box-shadow: 7px 7px rgb(194, 193, 230);
}
